<div class="container" >
  <h2 class="text-center"><strong>-New Bin-</h2>
    <h2 class="text-left"><%=@place.name %></h2>
    <br>
    <h3 class="text-center">TAP the category!</h3>
    <div class="row">
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "PET bottle"} %>
          <%= f.button :button do %>
            <%= image_tag "pet_bottle.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "can"} %>
          <%= f.button :button do %>
            <%= image_tag "can.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "glass"} %>
          <%= f.button :button do %>
            <%= image_tag "glass.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "burnables"} %>
          <%= f.button :button do %>
            <%= image_tag "burnables.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "non-burnables"} %>
          <%= f.button :button do %>
            <%= image_tag "non_burnables.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "paper"} %>
          <%= f.button :button do %>
            <%= image_tag "paper.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= simple_form_for [@place, @bin] do |f| %>
          <%= f.input :category, as: :hidden, input_html:{value: "plastic"} %>
          <%= f.button :button do %>
            <%= image_tag "plastic.png", style: 'width: 70%;' %>
          <% end %>
        <% end %>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
