<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
  <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css">
  <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
</head>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6" data-controller="geolocation">
      <h1>List a new place ☕ </h1>
      <%= simple_form_for(@place) do |f| %>
        <div class="row">
          Your Latitute:
          <input type="text" id="latitude" placeholder="Latitude">
        </div>
        <div class="row">
          Your Longitude:
          <input type="text" id="longitude" placeholder="Longitude">
        </div>
        <div class="row">
          Your Address
          <input type="text" id="address" placeholder="Address">
        </div>
        <div id="map" style="width: 400px; height: 400px;"></div>
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <div class="input-group">
              <%= f.input :name %>
              <%= f.input :photos, as: :file,  input_html: { multiple: true }  %>
              <%= f.input :description  %>
            </div>
            <div class="row">
              <%= f.input :latitude, input_html: { data: { geolocation_target: "latInput" } } %>
              <%= f.input :longitude, input_html: { data: { geolocation_target: "lonInput" } } %>
              <button data-action="click->geolocation#getLocation" type="button" class="btn btn-primary">
                Current Location
              </button>
              <%= f.submit "Add", class: "btn btn tertiary", style: "color: black" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic2dna2R1a2UiLCJhIjoiY2xvNTVpamMxMDZ1bjJ2bng4YTJmeHgxZCJ9.UdCeZ5cXHGpJTyP5XeaPFw';

      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          zoom: 9
      });

      var geocoder = new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl,
          marker: false,
          zoom: 20
      });

      map.addControl(geocoder);

      let userMarker = null;

      map.on('click', function (e) {
          setCoordinatesAndFetchAddress(e.lngLat);

          if (userMarker == null) {
              userMarker = new mapboxgl.Marker()
                  .setLngLat(e.lngLat)
                  .addTo(map);
          } else {
              userMarker.setLngLat(e.lngLat)
          }
      });

      function setCoordinatesAndFetchAddress(coordinates) {
          document.getElementById("latitude").value = coordinates.lat;
          document.getElementById("longitude").value = coordinates.lng;

          fetchAddress(coordinates);
      }

      function fetchAddress(coordinates) {
          const url =
              "https://api.mapbox.com/geocoding/v5/mapbox.places/" +
              coordinates.lng +
              "," +
              coordinates.lat +
              ".json?access_token=" +
              mapboxgl.accessToken;

          fetch(url)
            .then(res => res.json())
            .then((data) => {
              if (data.features.length > 0) {
                  document.getElementById("address").value = data.features[0].place_name;
              } else {
                  document.getElementById("address").value = "No address found";
              }
          });
      }

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(position => {
              var userLocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };
              map.setCenter(userLocation);
              map.setZoom(15); // Zoom closer
              setCoordinatesAndFetchAddress(userLocation);

              // Add a marker at the user's location
              userMarker = new mapboxgl.Marker()
                  .setLngLat(userLocation)
                  .addTo(map);
          }, function(error) {
              console.error("Error getting the geolocation: ", error);
          });
      } else {
          console.log("Geolocation is not supported by this browser.");
      }
    </script>
