<div class="container mx-auto text-center">
  <h1 class="text-center"><strong>You've arrived!</strong></h1>
  <h2 style="font-size: 26px;">Report: Which bin is full?</h2>
  <div class="container-bin-full">
    <% @place.trash_bins.sort.each do |bin| %>
      <%= simple_form_for(bin,
                          html: { data: { controller: "update-trash-bin",
                                        update_trash_bin_target: "form" }}) do |f| %>
        <%= f.input :full,
                      input_html: { data: { update_trash_bin_target: "checkbox" }},
                      label: false %>
        <div data-action="click->update-trash-bin#submit">
          <% cate = bin.category %>
          <%= image_tag "pet_bottle.png", style: 'margin:5px;' if cate == "PET bottle" %>
          <%= image_tag "can.png",style: 'margin:5px;' if cate == "can"  %>
          <%= image_tag "glass.png",style: 'margin:5px;' if cate == "glass"  %>
          <%= image_tag "burnables.png", style: 'margin:5px;' if cate == "burnables"  %>
          <%= image_tag "non_burnables.png",style: 'margin:5px;' if cate == "non-burnables"  %>
          <%= image_tag "paper.png", style: 'margin:5px;' if cate == "paper"  %>
          <%= image_tag "plastic.png", style: 'margin:5px;' if cate == "plastic"  %>
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <a class="btn btn-flat-primary btn ml-2" style="width:38%; margin-right: 10px;" href="<%= root_path %>">
      <i class="fa-solid fa-compass"></i> Homepage
    </a>
    <%= simple_form_for([@place, @toss]) do |f| %>
      <%= f.submit class: "btn btn-flat-secondary btn md-3", style: "width:100%; color: #618264; border: 2px solid #618264;" %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= image_tag "mascot.png", style: "width: 300px" %>
  </div>
</div>
