<div class="container mx-auto">
  <h1 class="text-center"><strong>You've arrived!</strong></h1>
  <%= simple_form_for [@place, @bin], url: update_form_place_path(@place), method: :post, html: { class: 'text-center' } do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <div class="row">
          <div class="text-center">
            <p><strong>Is the bin there?</strong></p>
          </div>
          <div class="text-center">
            <%= f.hidden_field :is_present, value: 'false' %>
            <%= button_tag(type: 'submit', name: 'trash_bin[is_present]', value: 'true', class: 'btn btn-flat-primary') do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
            <%= button_tag(type: 'submit', name: 'trash_bin[is_present]', value: 'false', class: 'btn btn-flat-danger') do %>
              <i class="fa-solid fa-x"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%#= raise %>
  <% @place.trash_bins.each do |bin| %>
    <%= simple_form_for(bin, html: { data: { controller: "update-trash-bin", action: "click->update-trash-bin#submit", update_trash_bin_target: "form" }}) do |f| %>
      <%= f.input :full, input_html: { data: { update_trash_bin_target: "checkbox" } } %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= image_tag "mascot.png", style: "width: 300px" %>
  </div>
</div>
